src/main/mule/best-commerce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8e7811c-04f7-4bd9-be2a-86b51a9fd01c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="best-commerceFlow" doc:id="fb84b51a-c05a-431b-8b54-bb27b8165401" >
		<http:listener doc:name="Listener" doc:id="4a530bb3-9619-470c-afaa-056b288158da" config-ref="HTTP_Listener_config" path="/spring"/>
		<java:invoke doc:name="Invoke" doc:id="ab983dce-54e7-4689-954a-724a199f647e" instance="xmen" class="com.demo.entrypoint.Person" method="greetings()"/>
		<logger level="INFO" doc:name="Logger" doc:id="47e09d56-0ce0-4a3e-bb8c-249f106f4637" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="2021cee8-008b-4f83-bd59-b1f61386450c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json
---
payload as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	<spring:config name="springConfig" files="beans.xml" />
	
</mule>
	

