src/main/mule/best-commerce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8e7811c-04f7-4bd9-be2a-86b51a9fd01c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<flow name="ListAllProducts" doc:id="86e466f2-15bc-4cda-bc19-9880a473df6b" >
		<http:listener doc:name="Listener" doc:id="bf59f129-ca77-4f04-b52e-317fa33a8b53" config-ref="HTTP_Listener_config" path="/allproducts"/>
		<java:invoke doc:name="Invoke" doc:id="8c654a90-e68f-4cb1-ab53-1359ac566355" instance="allProducts" class="com.demo.entrypoint.controllers.BestCommerceController" method="singleProduct()">
		</java:invoke>
		<logger level="INFO" doc:name="Logger" doc:id="05e336d0-cea0-4b45-bcf9-770f1b6e1d9c" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8f534c59-5552-4342-b713-a3a15fb06806" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json
---
payload as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<spring:config name="springConfig" files="beans.xml" />
	
</mule>
	

